@font-face {
    font-family: 'Nekst-Black';
    src: url('./fonts/Nekst-Black.woff2');
}

@font-face {
    font-family: 'Nekst-Bold';
    src: url('./fonts/Nekst-Bold.woff2');
}

@font-face {
    font-family: 'Nekst-Light';
    src: url('./fonts/Nekst-Light.woff2');
}

@font-face {
    font-family: 'Nekst-Medium';
    src: url('./fonts/Nekst-Medium.woff2');
}

@font-face {
    font-family: 'Nekst-Regular';
    src: url('./fonts/Nekst-Regular.woff2');
}

@font-face {
    font-family: 'Nekst-SemiBold';
    src: url('./fonts/Nekst-SemiBold.woff2');
}

@font-face {
    font-family: 'Nekst-Thin';
    src: url('./fonts/Nekst-Thin.woff2');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    max-width: 1200px;
}

.hero {
    margin-top: 0px;
    max-width: 1200px;
    max-height: 710px;
}

.hero-descriptions1 {
    display: flex;
    justify-content: space-between;
}

.hero-descriptor {
    color: #00479A;
    margin-bottom: 0;
    font-family: 'Nekst-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.hero-title {
    color: #2858FF;
    margin: 0 0 0 0;
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 400;
    font-size: 367px;
    line-height: 367px;
}

.hero-image {
    margin-top: 0;
}

.hero-descriptions2 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.about-content {
    position: relative;
    margin-top: 60px;
}

.about-title {
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 400;
    font-size: 355px;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #2858FF;
    margin: 0 0 0 0;
}

.about-description {
    position: absolute;
    max-width: 940px;
    top: 130px;
    left: 135px;
    margin: 0 0 0 0;
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    color: #00479A;
}

.rock {
    width: 100%;
    margin-bottom: 50px;
}

.rock img {
    display: block;
    margin: auto;
}


.variable-fonts {
    height: 650px;
    border: 3px solid #00479A;
}

.variable-container {
    max-width: 830px;
    margin: 0 auto;
    margin-top: 150px;
}

.variable1 {
    font-family: 'Nekst-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 40%;
    text-align: center;
    color: #00479A;
}

.variable2 {
    font-family: 'Nekst-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 40%;
    text-align: center;
    color: #00479A;
}

.variable3 {
    font-family: 'Nekst-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 40%;
    text-align: center;
    color: #00479A;
}

.variable4 {
    font-family: 'Nekst-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 40%;
    text-align: center;
    color: #00479A;
}

.variable5 {
    font-family: 'Nekst-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 40%;
    text-align: center;
    color: #00479A;
    margin-bottom: 0px;
}

.variable6 {
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 40%;
    text-align: center;
    color: #00479A;
}

.visit-cards {
    margin: 130px 0 130px 0;
}

.merch {
    margin: -170px 0 0 0;
    width: 1200px;
}

.notification-container {
    margin: 0 auto;
    max-width: 590px;
}

.symbols {
    margin-top: 150px;
}

.symbols-row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.symbols-row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.metal-mining {
    margin-top: 100px;
    color: #2858FF;
    font-family: 'Nekst-Black';
}

.lvl-1 {
    font-size: 120px;
    margin: 0 0 0 0;
}

.lvl-2 {
    font-size: 96px;
    margin: 0 0 0 0;
}

.lvl-3 {
    font-size: 64px;
    margin: 0 0 0 0;
}

.lvl-4 {
    font-size: 48px;
    margin: 0 0 0 0;
}

.lvl-5 {
    font-size: 40px;
    margin: 0 0 0 0;
}

.lvl-6 {
    font-size: 36px;
    margin: 0 0 0 0;
}

.lvl-7 {
    font-size: 32px;
    margin: 0 0 0 0;
}

.lvl-8 {
    font-size: 24px;
    margin: 0 0 0 0;
}

.lvl-8 {
    font-size: 24px;
    margin: 0 0 0 0;
}

.lvl-9 {
    font-size: 40px;
    color: #00479A;
    margin: 0 0 0 0;
}

.lvl-10 {
    font-size: 40px;
    color: #00479A;
    margin: 0 0 0 0;
}

.lvl-11 {
    font-size: 20px;
    margin: 0 0 0 0;
}

.bam {
    margin-top: -40px;
}

.finish {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 40px 0;
    font-family: 'Nekst-Regular';
    color: #00479A;
}

.finish h1 {
    font-size: 20px;
}